In [51]:
import pandas as pd

import csv 

import matplotlib

import os

os.getcwd()
import numpy as np


os.chdir('/Users/khashayarzare/Desktop/bootcamp/challenge2/PyBank/Resources')
with open('budget_data.csv', 'rb') as b:

    bud_reader= pd.read_csv(b)

    bud_reader.head()

    bud_reader.tail()

    bud_reader.describe()

    date= bud_reader['d']

    profit=bud_reader['Profit/Losses']

    print(np.max(profit))

    print(np.average(profit))

    #matplotlib really useful for visualization 

#1170593
#446309.0465116279

    avg_month= np.average(profit)

    total_π= avg_month* 86

    bud_reader.info()

1170593
446309.0465116279
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   d              86 non-null     object
 1   Profit/Losses  86 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.5+ KB

In [6]:
os.getcwd()

'/Users/khashayarzare/Desktop/bootcamp/challenge2/PyBank/Resources'

In [3]:
os.chdir('/Users/khashayarzare/Desktop/bootcamp/challenge2/PyBank/Resources')

In [7]:
with open('budget_data.csv', 'r') as b:

    bud_reader= pd.read_csv(b)

    bud_reader.head()

    bud_reader.tail()

    bud_reader.describe()

    date= bud_reader['d']

    profit=bud_reader['Profit/Losses']

    print(np.max(profit))

    print(np.average(profit))

    #matplotlib really useful for visualization 

#1170593
#446309.0465116279

    avg_month= np.average(profit)

    total_π= avg_month* 86

    bud_reader.info()

1170593
446309.0465116279
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   d              86 non-null     object
 1   Profit/Losses  86 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.5+ KB

In [5]:
import numpy as np

In [6]:
with open('budget_data.csv', 'r') as b:

    bud_reader= pd.read_csv(b)

    bud_reader.head()

    bud_reader.tail()

    bud_reader.describe()

    date= bud_reader['d']

    profit=bud_reader['Profit/Losses']

    print(np.max(profit))

    print(np.average(profit))

    #matplotlib really useful for visualization 

#1170593
#446309.0465116279

    avg_month= np.average(profit)

    total_π= avg_month* 86

    bud_reader.info()

1170593
446309.0465116279
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   d              86 non-null     object
 1   Profit/Losses  86 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.5+ KB

In [74]:
print('Financial Analysis')
print('-----------------------')
print( f'total months: ' {months} )

SyntaxError: invalid syntax (3824529336.py, line 3)

In [8]:
months= len(bud_reader['d'])

In [9]:
print(months)

86

In [14]:
print('Financial Analysis')
print('-----------------------')
print( f'total months: ', months )

Financial Analysis
-----------------------
total months:  86

In [15]:
rows=[]
for row in bud_reader['Profit/Losses']:
    rows.append(row)

In [20]:
profit_totes= sum(rows)

In [21]:
print(profit_totes)

38382578

In [25]:
print(f'Total: ', profit_totes)

Total:  38382578

##

In [24]:
print(avg_month)

446309.0465116279

In [9]:
bud_reader.head(10)

        d  Profit/Losses
0  10-Jan         867884
1  10-Feb         984655
2  10-Mar         322013
3  10-Apr         -69417
4  10-May         310503
5  10-Jun         522857
6  10-Jul        1033096
7  10-Aug         604885
8  10-Sep        -216386
9  10-Oct         477532

In [26]:
rows=[]
for row in bud_reader['Profit/Losses']:
    rows.append(row)
print(rows)
print(len(rows))

[867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099]
86

In [41]:
diff=[]
for r in range((len(rows))-1): 
    dif= rows[(r+1)]- rows[(r)]
    diff.append(dif)

In [42]:
print(rows[0])

867884

In [43]:
print(diff)

[116771, -662642, -391430, 379920, 212354, 510239, -428211, -821271, 693918, 416278, -974163, 860159, -1115009, 1033048, 95318, -308093, 99052, -521393, 605450, 231727, -65187, -702716, 177975, -1065544, 1926159, -917805, 898730, -334262, -246499, -64055, -1529236, 1497596, 304914, -635801, 398319, -183161, -37864, -253689, 403655, 94168, 306877, -83000, 210462, -2196167, 1465222, -956983, 1838447, -468003, -64602, 206242, -242155, -449079, 315198, 241099, 111540, 365942, -219310, -368665, 409837, 151210, -110244, -341938, -1212159, 683246, -70825, 335594, 417334, -272194, -236462, 657432, -211262, -128237, -1750387, 925441, 932089, -311434, 267252, -1876758, 1733696, 198551, -665765, 693229, -734926, 77242, 532869]

In [46]:
change_average=round(sum(diff)/ 85, 2)
print(change_average)

-2315.12

In [47]:
print('The average change in Profit/Losses', change_average)

The average change in Profit/Losses -2315.12

In [48]:
profit= print(max(diff))

1926159

In [49]:
loss= print(min(diff))

-2196167

In [63]:

    for i in diff:
        if i == 1926159:
            index= diff.index(i)
            print(index)
        elif i== -2196167:
            index= diff.index(i)
            print(index)
        else:pass
        
# add 1 to the indexes to makeup for them starting at 0

24
43

In [71]:
profits= print(max(diff))

1926159

In [73]:
profits= print(max(diff))
losses = print(min(diff))

inc_date= bud_reader['d'][25]
dec_date= bud_reader['d'][44]

print('Greatest increase in Profits:', inc_date, '($',profit,')')
print('Greatest Decrease in Profits:', dec_date, '($',loss,')')

1926159
-2196167
Greatest increase in Profits: 12-Feb ($ None )
Greatest Decrease in Profits: 13-Sep ($ None )

In [72]:
print('Greatest increase in Profits:', inc_date, '($', profits,')')
print('Greatest Decrease in Profits:', dec_date, '($', losses,')')

Greatest increase in Profits: 12-Feb ($ None )
Greatest Decrease in Profits: 13-Sep ($ None )